@font-face {
    font-family: "Press Start";
    src: url("./PressStart2P-Regular.ttf") format("woff2"),
   }
   

body{
    margin :0;
    
    height: 100%;
    /* font-family: "PressStart2P-Regular", Calibri, Tahoma, sans-serif; */
     
}

canvas{
    border: solid 1px red;
    margin: 200px;
}

.display-player-info{
    position:absolute;

    border: solid 1px green;
    /* background-color: white; */
    width: 8rem;
    height: 2rem;
    margin: 200px;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    align-items: center;
    font-size: 24px;
    color: white;
}